{% extends 'base.html' %}

{% block content %}
    {% if not object %}
        <h1 class="text-center">401</h1>
        <p class="text-center">Não autorizado.</p>
        <div class="text-center">
            <button class="btn btn-primary mb-4" onclick="window.history.back()">Voltar</button>
        </div>
    {% else %}
        <button class="btn btn-primary mb-4" onclick="window.history.back()">Voltar</button>
        <h1 class="text-center">{{ object.title }}</h1>
        <figure class="articleFigure" style="height: 400px">
            <img src="{{ object.banner_url }}" alt="{{ object.title }}" class="img-fluid w-100">
            <figcaption class="d-none">{{ object.title }}</figcaption>
        </figure>
        <p>{{ object.created_at|date:'d/m/Y' }} - <b>{{ object.category.name.upper }}</b></p>
        <p class="text-center">{{ object.content }}</p>
    {% endif %}
{% endblock %}