{% extends "base.html" %}

{% block content %}
    <div>
        <div class="homePage__section--top homePageTop">
            <section class="homePageTop__section">
                <h2>Destaque</h2>
                {% include 'components/highlight_slider.html' %}
            </section>
            <section class="homePageTop__section">
                <h2>Mais lidos</h2>
                {% include 'components/article_sectioned.html' with articles=most_read %}
            </section>
        </div>
        <section class="homePage__section homePageBottom">
            <h2>Últimas publicações</h2>
            {% include 'components/paginated_article_section.html' %}
        </section>
    </div>
{% endblock %}
