.articlesTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articlesTop__results {
    flex-basis: 40%;
    font-size: 2rem
}
.articlesTop__divider {
    flex-basis: 50%;
    height: 1px;
    background-color: #ccc;
}
.articlesTop__pagination {
    flex-basis: 10%;
    justify-content: flex-end;
}